<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Highstock Example</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/js/highstock.js"></script>
    <script src="/js/exporting.js"></script>
    <script src="/js/socket.io.js"></script>

		<style type="text/css">

		</style>
    <script>
    </script>
  </head>
	<body>
	<div id="data"></div>

<div id="container" style="height: 400px; min-width: 310px"></div>

<input type="texarea" id="tickers"><input type="button" value="go" id="go"><input type="button" value="remove" id="remove">
		
	</body>
</html>

<script type="text/javascript">
var seriesOptions = [],
seriesCounter = 0
var socket = io();
socket.on('tickback', function(ticker){
  go(ticker)
  console.log(ticker)
  var x = document.createElement("a");
  x.innerHTML = ticker
  x.setAttribute("class", "ticker")
  x.setAttribute("href", "/")
  x.setAttribute("id", ticker)
  document.body.append(x)
    
  x.addEventListener("click", function(e){
    e.preventDefault()
    socket.emit("delete", this.id)
  })
});
  

  
document.querySelector("#go").addEventListener("click", function(){
  check(document.querySelector("#tickers").value)  
}, false);
/**
 * Create the chart when all data is loaded
 * @returns {undefined}
 */
document.querySelector("#remove").addEventListener("click", function(){
        draw(seriesOptions)
}, false);
  
  
function check(ticker){
  $.getJSON('https://www.quandl.com/api/v3/datasets/WIKI/' + ticker + '/data.json?api_key=9DL8AEJpLQna4YsPswnY&order=asc',    function (data) {
    //if(data.quandl_error){
      socket.emit("data", ticker)
    //asda}
  })
}

function go(ticker){
  //name = ticker;
      $.getJSON('https://www.quandl.com/api/v3/datasets/WIKI/' + ticker + '/data.json?api_key=9DL8AEJpLQna4YsPswnY&order=asc',    function (data) {
      //if (typeof(data) == "object"){
      //} else {
      //}
        var usefulData = [];
        var ctr = 0;
      Object.values(data.dataset_data.data).forEach(function(element){
        var dateArray = [];

      element[0].split("-").forEach(function(element){
        dateArray.push(element)
      }) ;

      function toMonth(month){
        if (month == 1) {return "January"}
        if (month == 2) {return "February"}
        if (month == 3) {return "March"}
        if (month == 4) {return "April"}
        if (month == 5) {return "May"}
        if (month == 6) {return "June"}
        if (month == 7) {return "July"}
        if (month == 8) {return "August"}
        if (month == 9) {return "September"}
        if (month == 10) {return "October"}
        if (month == 11) {return "November"}
        if (month == 12) {return "December"}
      }

      dateArray[1] = toMonth(dateArray[1])
      //console.log("year" + date[0] + " month" + date[1] + " date" + date[2])
      var date = new Date(dateArray[1] + " " + dateArray[2] + " " + dateArray[0])
      var unixTime = date.getTime();
      element[0] = unixTime;
      usefulData.push([element[0],element[4]]);
      ctr++;
    })
    //document.getElementById("data").innerHTML = JSON.stringify(usefulData);
   // seriesArray.push([name, usefulData])
        seriesOptions[seriesOptions.length] = {
             name: ticker,
            data: usefulData
        };
        
        // As we're loading the data asynchronously, we don't know what order it w

    })
}
  
  
    function draw(seriesOptions){
          Highcharts.stockChart('container', {

            rangeSelector: {
                selected: 4
            },

            yAxis: {
                labels: {
                    formatter: function () {
                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
                    }
                },
                plotLines: [{
                    value: 0,
                    width: 2,
                    color: 'silver'
                }]
            },

            plotOptions: {
                series: {
                    compare: 'percent',
                    showInNavigator: true
                }
            },

            tooltip: {
                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
                valueDecimals: 2,
                split: true
            },

            series: seriesOptions
        });
    }
		</script>